@import '~@angular/material/theming';

.character {
  @include mat-elevation(2);
  display: inline-block;
  min-width: 200px;
  width: 200px;
  max-width: 200px;
}

.character:hover {
  cursor: pointer;
}

.character-image-container {
  position: relative;
  overflow: hidden;
}

.character .character-image-container .character-image {
  transition: transform .7s ease;
}

.character:hover .character-image-container .character-image {
  transform: scale(2) translate(8px, 0px);
}

.character-name {
  text-align: center;
  user-select: none;
  margin: 4px 0;
}

.character-delete {
  position: absolute;
  right: 0;
  top: 0;
}

.character-image {
  display: block;
  width: 200px;
  height: 200px;
}

.loading-bar {
  display: absolute;
  bottom: 0;
  left: 0;
}

