<div class="character" mat-ripple>
  <div class="character-image-container">
    <img class="character-image" [style.visibility]="loading ? 'hidden' : 'visible'" [src]="character.imgUri" #characterImage>
    <mat-progress-bar class="loading-bar" *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <button class="character-delete" color="accent" mat-icon-button (click)="onDelete()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="character-name mat-title">{{character.name}}</div>
</div>
