$gallery-light-primary: mat-palette($mat-indigo);
$gallery-light-accent: mat-palette($mat-blue);
$gallery-light-warn: mat-palette($mat-orange, 800);

$gallery-light-theme: mat-light-theme(
  $gallery-light-primary,
  $gallery-light-accent,
  $gallery-light-warn
);
