<div [class]="'app-root ' + currentTheme">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button
        [routerLink]="appBarService.backRoute"
        [style.visibility]="(appBarService.showNavigateBack | async) ? 'visible' : 'hidden'">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>Team Builder</span>
      <span style="flex: 1 1 auto;"></span>
      <mat-slide-toggle #darkModeToggle>
        <mat-icon>invert_colors</mat-icon>
      </mat-slide-toggle>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
